<section class="content-header">
	<div class="container-fluid">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">
				<div class="input-group input-group-sm"> Details
				</div>
				</h3>
				<div class="card-tools">
				  <button class="btn btn-success btn-sm float-right" ng-click="app.print(this)"><i class="fa fa-print"></i> Print Report</button>
				</div>
			</div>
			<!-- /.card-header -->
			
			<div class="card-body">
				
				<table id="yearsTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Category</th>
						<th ng-repeat="h in logs.header">{{h.h}}</th>
						<th>Sub Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="c in logs.courses">
					  <td ng-repeat="h in c">{{h.d}}</td>
					  <td>{{ logs.subtotal[$index].total}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					  <td></td>
					  <td ng-repeat="h in logs.total">{{h.countPerHour}}</td>
					  <td style="background-color: #28a745; color: white;">TOTAL:  {{logs.overall}}</td>
					</tr>
				</tfoot>
			  </table>
			</div>
			<!-- /.card-body -->
		</div>
	<!-- /.card -->
  </div><!-- /.container-fluid -->
</section>

<section class="content-header">
	<div class="container-fluid">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">Learners</h3>
				<div class="card-tools">
				 <button class="btn btn-success float-sm-right btn-sm" ng-click="app.print_s(this)"> <i class="fa fa-print"></i> Print Report</button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="learnersTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID Number</th>
						<th>Names</th>
						<th>Address <small>(City/Barangay)</small></th>
						<th>Year & Section</th>
						<th>Logged in</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in students">
					  <td>{{s.stud_id.stud_studentID}}</td>
					  <td>{{s.stud_id.fullname}}</td>
					  <td>{{s.stud_id.stud_address}}</td>
					  <td>{{s.stud_id.stud_year_id.year_description}} - {{s.stud_id.stud_sect_id.sect_description}}</td>
					  <td>{{s.logb_login}}</td>
					</tr>
				</tbody>
			  </table>
			</div>
			<!-- /.card-body -->
		</div>
	<!-- /.card -->
  </div><!-- /.container-fluid -->
</section>