<div class="content-header">
  <div class="container-fluid">
	<div class="row">
				<div class="col-sm-4">
					<label>From</label>
					<div class="form-group input-group">
					  <input type="date" class="form-control" ng-model="filter.from">
					</div>
				</div>
				<div class="col-sm-4">
					<label>To</label>
					<div class="form-group input-group">
					  <input type="date" class="form-control" ng-model="filter.to">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>Names</label>
					<div class="form-group">
					  <select class="form-control" ng-model="filter.name" ng-options="d.fullname for d in data_stud track by d.stud_id"></select>
					</div>
				</div>
				<div class="col-sm-4">
					<label>Strands</label>
					<div class="form-group">
					  <select class="form-control" ng-model="filter.course" ng-options="c.cour_description for c in courses track by c.cour_id"></select>
					</div>
				</div>
				<div class="col-sm-2">
					<label>Grade Level</label>
					<div class="form-group">
					 <select class="form-control" ng-model="filter.year" ng-options="y.year_description for y in years track by y.year_id" ng-change="app.checkGrade(this,filter.year)"></select>
					</div>
				</div>
				<div class="col-sm-2">
					<label>Sections</label>
					<div class="input-group form-group">
						<select class="form-control" ng-model="filter.section" ng-options="s.sect_description for s in sections track by s.sect_id"></select>
					  <span class="input-group-append">
						<button type="button" class="btn btn-primary" ng-click="app.list(this)">Go!</button>
					  </span>
					</div>
				</div>
			</div><!-- /.row -->
	</div>
</div>

<section class="content-header">
	<div class="container-fluid">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">List of Learners</h3>
				<div class="card-tools">
				  <button type="button" class="btn btn-tool" ng-click="app.student(this)">
					<i class="fas fa-plus"></i>
				  </button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="studentsTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>RFID #</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Strand</th>
						<th>Year & Section</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in students">
					  <td>{{data.stud_RFID}}</td>
					  <td>{{data.fullname}}</td>
					  <td>{{data.gender}}</td>
					  <td>{{data.f_cour_id.cour_description}}</td>
					  <td>{{data.stud_year_id.year_description}} - {{data.stud_sect_id.sect_description}}</td>
					  <td>
						<button class="btn btn-success btn-sm" ng-click="app.change(this,data)"><i class="fas fa-id-card"></i> Change ID</button>
						<button class="btn btn-primary btn-sm" ng-click="app.student(this,data)"><i class="fas fa-search"></i> View</button>
						<button class="btn btn-danger btn-sm" ng-click="app.delete(this,data)"><i class="fas fa-folder"></i> Archive</button>
					  </td>
					</tr>
				</tbody>
			  </table>
			</div>
			<!-- /.card-body -->
		</div>
	<!-- /.card -->
  </div><!-- /.container-fluid -->
</section>
