<section class="content-header">
	<div class="container-fluid">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">Year & Section</h3>
				<div class="card-tools">
				  <button type="button" class="btn btn-tool" ng-click="app.year(this)">
					<i class="fas fa-plus"></i>
				  </button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="yearsTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>Description</th>
						<th>Total</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in years">
					  <td>{{$index+1}}</td>
					  <td>{{data.year_description}}</td>
					  <td>{{data.total.count}}</td>
					  <td>
						<button class="btn btn-primary btn-sm" ng-click="app.year(this,data)"><i class="fas fa-search"></i> View</button>
						<button class="btn btn-danger btn-sm" ng-click="app.delete(this,data)"><i class="fas fa-trash"></i> Delete</button>
					  </td>
					</tr>
				</tbody>
			  </table>
			</div>
			<!-- /.card-body -->
		</div>
	<!-- /.card -->
  </div><!-- /.container-fluid -->
</section>
